# Data Science Tools and Ecosystem #

#In this notebook, Data Science Tools and Ecosystem are summarized.#

**Objectives**
+Python
+Java
+SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. SQL

In [2]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. TensorFlow

SyntaxError: invalid syntax (<ipython-input-2-f44b966fdf81>, line 1)

 | Data Science Tools |
 | ------------------ |
 | Jupyter Lab |
 | Tableau |
 | Apache Spark |

In [ ]:
Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5
##This a simple arithmetic expression to mutiply then add integers.

17

In [8]:
200/60
##This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
MUIZ